<header class="expanded row">
	<div class="large-6 columns">
		<a href="{{ site.url }}"><img src="{{ site.assets_url }}/img/logos/marius.png" alt="MaRIUS project home"></a>
	</div>
    <div class="large-6 columns">
    {{ page.dashboard }}
    MaRIUS - {% if layout.dashboard_title %}{{ layout.dashboard_title }}{% else %}{{ layout.section | capitalize }}{% endif %}
    </div>
</header>

<!--<div class="row section-bar">
	<div class="large-3 columns"></div>
	<div class="large-9 columns section-ident"></div>
</div>-->