<ul class="vertical menu" data-accordion-menu data-multi-open="false">
    <li><a href="{{ site.baseurl }}/">MaRIUS Home</a></li>
    
    <hr>
    
    <li><a href="{{ site.dpe_url }}/"><b>Managment Dashboard</b></a></li>

    <li><a href="{{ site.dpe_url }}/what_are_droughts/">What are droughts?</a></li>
    <li><a href="{{ site.dpe_url }}/drought_events_past_future/">Droughts: past and future</a></li>
    <li><a href="{{ site.dpe_url }}/water_use_scarcity/">Water use &amp; scarcity</a></li>
    <li>
      <a href="{{ site.dpe_url }}/drought_impacts/">Impacts of drought</a>
      <ul class="menu vertical nested" data-accordion-menu>
          <li><a href="{{ site.dpe_url }}/drought_impacts/river_flow/">on river flow</a></li>
          <li><a href="{{ site.dpe_url }}/drought_impacts/water_quality/">on water quality</a></li>
          <li><a href="{{ site.dpe_url }}/drought_impacts/people/">on people</a></li>
          <li><a href="{{ site.dpe_url }}/drought_impacts/farming/">on farming</a></li>
          <li><a href="{{ site.dpe_url }}/drought_impacts/economy/">on the economy</a></li>
          <li><a href="{{ site.dpe_url }}/drought_impacts/environment/">on the environment</a></li>
          
      </ul>
    </li>
    <a href="{{ site.dpe_url }}/drought_impacts/">What to do about droughts?</a>
      <ul class="menu vertical nested" data-accordion-menu>
        <li><a href="{{ site.dpe_url }}/admo/">Planning for the long term</a></li>
         <li><a href="{{ site.dpe_url }}/admo/">Water supply options</a></li>
         <li><a href="{{ site.dpe_url }}/admo/">Managing demand</a></li> 
         <li><a href="{{ site.dpe_url }}/drought_mgmt/dpgs">Managing droughts</a></li>
    <li><a href="{{ site.dpe_url }}/drought_mgmt/">Drought management</a>
      <ul class="menu vertical nested" data-accordion-menu>
          <li><a href="{{ site.dpe_url }}/drought_mgmt/options">Drought management options</a></li>
      </ul>
    </li>
    
    <li><a href="{{ site.dpe_url }}/future_challenges/">Future challenges</a></li>

</ul>

<hr>

<ul class="vertical menu" data-accordion-menu data-multi-open="false">
	<li><a href="{{ site.science_url }}/">Science Dashboard</a></li>
</ul>
