<ul class="vertical menu" data-accordion-menu data-multi-open="false">
    <li><a href="{{ site.baseurl }}/">MaRIUS Home</a></li>
    
    <hr>
    
    <li><a href="{{ site.science_url }}/"><b>Science Dashboard</b></a></li>

    <li><a href="{{ site.science_url }}/drought_climatology/">Drought Climatology</a>
    <ul class="menu vertical nested">
      <li><a href="{{ site.science_url }}/drought_climatology/baseline_drought_event_set/">Drought datasets</a></li>
      <li><a href="{{ site.science_url }}/drought_climatology/future_drought_event_set/">Future drought risk</a></li>
      <li><a href="{{ site.science_url }}/drought_climatology/drivers_of_drought/">Large-scale drivers of UK drought</a></li>
      <li><a href="{{ site.science_url }}/drought_climatology/sensitivity/">Sensitivity to ocean warming pattern</a></li>
    </ul>
    </li>

      <li>
        <a href="{{ site.science_url }}/drought_impacts_management/hydrology/">Hydrology</a>
        <ul class="menu vertical nested">
          <li><a href="{{ site.science_url }}/drought_impacts_management/hydrology/nshmd">National scale hydrological modelling</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/hydrology/idhns">Integrating drought hydrology to the national scale</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/hydrology/iirplf">Process representation for low flows</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ site.science_url }}/drought_impacts_management/water_resources/">Water Resources</a>
        <ul class="menu vertical nested">
          <li><a href="{{ site.science_url }}/drought_impacts_management/water_resources/mncns/">Thames basin modelling</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/water_resources/national_scale/">National-scale water modelling</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ site.science_url }}/drought_impacts_management/water_quality/">Water Quality</a>
        <ul class="menu vertical nested">
          <li><a href="{{ site.science_url }}/drought_impacts_management/water_quality/ndocs/">Overview</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/water_quality/rtwqd/">Thames water quality data</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/water_quality/diwqrt/">Drought impacts on water quality - River Thames</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/water_quality/abr/">River Thames Reservoir Phytoplankton water quality</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/water_quality/nswq/">National scale water quality</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ site.science_url }}/drought_impacts_management/agriculture/">Agriculture</a>
        <ul class="menu vertical nested">
          <li><a href="{{ site.science_url }}/drought_impacts_management/agriculture/irrigated/">Irrigated agriculture</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/agriculture/rainfed/">Rainfed agriculture</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/agriculture/uklu/">UK land use</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ site.science_url }}/drought_impacts_management/ecology/">Ecology</a>
        <ul class="menu vertical nested">
          <li><a href="{{ site.science_url }}/drought_impacts_management/ecology/rivers/">River ecosystems</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/ecology/wetlands/">Wetland ecosystems</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/ecology/sem/">Species envelope modelling</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/ecology/vts/">Vulnerability of tree species</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ site.science_url }}/drought_impacts_management/economy_and_industry/">Economy &amp; Industry</a>
        <ul class="menu vertical nested">
          <li><a href="{{ site.science_url }}/drought_impacts_management/economy_and_industry/erd/">Economic risk of droughts</a></li>
          <li><a href="{{ site.science_url }}/drought_impacts_management/economy_and_industry/eides/">Economic impacts of drought on the electricity sector</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ site.science_url }}/drought_impacts_management/knowledges/">Knowledges</a>
      </li>
    
      <li>
        <a href="{{ site.science_url }}/drought_impacts_management/governance/">Drought and Society</a>
          
          <ul class="menu vertical nested">
            <li>
                <a href="{{ site.science_url }}/drought_impacts_management/governance/mdpgs/">Governance</a>
                <ul class="menu vertical nested">
                    <li><a href="{{ site.science_url }}/drought_impacts_management/governance/mdpgs/">Mapping the drought planning governance space</a></li>
                    <li><a href="{{ site.science_url }}/drought_impacts_management/governance/dpgs/">Drought planning governance space</a></li>
                </ul>
            </li>
            
            <li>
                <a href="{{ site.science_url }}/drought_impacts_management/governance/dpgs/">Human Geography</a>
                <ul class="menu vertical nested">
                    <li><a href="{{ site.science_url }}/drought_impacts_management/governance/dgo/">Drought governance options</a></li>
                    <li><a href="{{ site.science_url }}/drought_impacts_management/governance/dgs">Drought mangement scenarios</a></li>
                </ul>
            </li>
        </ul>
      </li>
    
</ul>
        
<!-- <ul class="menu vertical nested">
    <li><a href="{{ site.science_url }}/drought_impacts_management/governance/mdpgs/">Mapping the drought planning governance space</a></li>
    <li><a href="{{ site.science_url }}/drought_impacts_management/governance/dpgs/">Drought planning governance space</a></li>
    <li><a href="{{ site.science_url }}/drought_impacts_management/governance/dgo/">Drought governance options</a></li>
    <li><a href="{{ site.science_url }}/drought_impacts_management/governance/dgs">Drought mangement scenarios</a></li>
</ul> -->

<hr>

<ul class="vertical menu" data-accordion-menu data-multi-open="false">
    <li><a href="{{ site.dpe_url }}/what_are_droughts/">Management Dashboard</a></li>
</ul>
