<ul class="vertical menu" data-accordion-menu data-multi-open="false">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    
    <hr>

    <li><a href="{{ site.baseurl }}/our_work/">Our work</a>
    
    <li><a href="{{ site.baseurl }}/people/"><b>People</b></a>
    <li><a href="{{ site.baseurl }}/people/researchers/">Researchers</a>
    <li><a href="{{ site.baseurl }}/people/stakeholders_and_partners/">Stakeholders and Partners</a>
    <li><a href="{{ site.baseurl }}/people/iab/">International Advisory Board</a>

    <li><a href="{{ site.baseurl }}/affiliated_projects/">Affiliated Projects</a>
    
    <li><a href="{{ site.baseurl }}/our_work/"><b>Our work</b></a>
    <li><a href="{{ site.baseurl }}/objectives/">Objectives</a>
    
    <li><a href="{{ site.baseurl }}/outputs/"><b>Outputs</b></a>
    <li><a href="{{ site.baseurl }}/outputs/symposia/">Symposia</a>
    <li><a href="{{ site.baseurl }}/outputs/podcasts">Podcasts</a>
    <li><a href="{{ site.baseurl }}/outputs/working_papers/">Working Papers</a>
    <li><a href="{{ site.baseurl }}/outputs/models_and_datasets">Models and Datasets</a>
    <li><a href="{{ site.baseurl }}/outputs/publications">Publications</a>
</ul>

<hr>

<ul class="vertical menu" data-accordion-menu data-multi-open="false">
    <li><a href="{{ site.baseurl }}/dashboard/"><b>Dashboards</b></a>
    <li><a href="{{ site.science_url }}/">Science Dashboard</a>
    <li><a href="{{ site.dpe_url }}/what_are_droughts/">Management Dashboard</a>
</ul>