{% assign p = site.data.podcasts[include.podcast_id] %}
{% assign p_author = site.data.people_researchers[p.author] %}

<div id="podcast-card" class="row">
	<div class="large-3 columns">
		<img src="/mariusdroughtproject.org/assets/img/people/{{ p.author }}.png" alt="{{ p_author.title }} {{ p_author.name }}" />
	</div>
	<div class="large-9 columns">
		<b><a rel="podcast" href="{{ p.embedUrl }}" data-lity>{{ p.name }}</a></b>
		<br>
		by {{ p_author.title }} {{ p_author.name }}<br>
		{{ p_author.organisation }}<br><br>
		<p>{{ p.description }}</p>
	</div>
</div>