/* main.css */

@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Oxygen:300,400,700&subset=latin-ext';

/* -------------------------------------------------------------------------- */

html, body {
    font-family: 'Lato', sans-serif;

}

p {
    /*font-family: 'Lato', sans-serif;
    font-size: 110%;
    line-height: 1.6;
    margin: 0 0 15px;*/
    line-height: 1.6;
}

h1, h2, h3. h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
}

.section_title {
    margin-top: 0;
    font-weight: bold;
}

.subsection_title {
    font-weight: bold;
}

#wrapper {
    background-color: #FF00FF;
    height: 100%;
}

header {
    height: 80px;
    /*margin: 10px 0;*/
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
    background-color: #000;
    color: #fff;
}

footer {
    height: 50px;
    /*margin: 10px 0;*/
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid 1px #ccc;
    background-color: #f2f2f2;
    text-align: center;
}

.content {
    border-left: solid 1px #c9c9c9;
    padding-left: 40px;
    /*background-color: #e7eded;*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    height: 100%;
}

/*#content p {
    background-color: red;
    padding-left: 25px;
}

#content h1, h2, h3. h4, h5, h6 {
    margin-left: 50px;
}
*/

.content h1 {
    font-weight: bold;
}

#thing {
    background-color: green;
}

/* admonition */
.admonition {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
}

.admonition.note {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.admonition.warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.admonition.danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.admonition-title {
    font-weight: bold;
    text-align: left;
}

#hgroup {
    margin-bottom: 40px;
    border-bottom: solid 5px #000;
}

/* section */
hr {
    border: 0;
    /*color: #f00;*/
    background-color: #000;
    height: 3px;
}

#side-nav hr {
    height: 1px;
}

.wrap {
    position: relative;
    height: 100%;
    width: 100%;
    /*background: gray;*/
}

.section {
    font-size: 20px;
    color: #c9c9c9;
}

.checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}


.site-nav {
    list-style-type: none;
}

.site-nav li {
    list-style-type: none;
}

.site-nav li .active {
    font-weight: bold;
}
