/*science.css*/

@import url('main.css');

/* section colour: #0583F2; */

header {}

.section-ident {
    height: 15px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
    background-color: #0583F2;
    color: #fff;
}
