---
layout: nil

section: default
noindex: true
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" dir="ltr"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    {% if layout.noindex %}
    <meta name="robots" content="noindex" />
    {% endif %}

    <title>{{ page._title }}</title>
    
    <!-- <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if layout.interactive %}
    <link href="{{ site.baseurl }}/assets/libs/css/nv.d3.css" rel="stylesheet">
    <script src="{{ site.baseurl }}/assets/libs/js/d3.v3.js"></script>
    <script src="{{ site.baseurl }}/assets/libs/js/nv.d3.js"></script>
    {% endif %}
</head>

<body class="">
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

  <header class="expanded row">
    <div class="row">
      <div class="large-12 columns">
      {{ page.dashboard }}
          <h1>MaRIUS - {% if layout.dashboard_title %}{{ layout.dashboard_title }}{% else %}{{ layout.section | capitalize }}{% endif %}</h1> 
      </div>
    </div>
  </header>
  
  <div id="" class="expanded row">

    <div class="large-3 medium-3 columns" id="side-nav">
    {% if layout.section %}
      <!-- nav for section: {{ layout.section }} -->
    	{% include nav_{{ layout.section }}.html section=layout.section %}
    {% else %}
    	{% include nav_default.html %}
    {% endif %}

    {% include nav_demo.html %}

    </div>

    <div class="large-9 medium-9 columns content">

      <span class="section">{{ page.subsection }}</h3></span>
      <h1>
      {% if page.heading %}{{ page.heading }}{% else %}{{ page._title }}{% endif %}
      </h1>

      {{ content }}

    </div>
    
  </div>
  
  <footer class="expanded row">
    <div class="large-12 columns">footer</div>
  </footer>

<!-- stylesheets -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/libs/css/foundation-6.2.3-custom.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css"> <!-- app -->

<!-- layout|page: extra_css -->
{% if layout.extra_css %}
  {% for css_file in layout.extra_css %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ css_file }}.css" media="screen" type="text/css">
  {% endfor %}
{% endif %}

{% if page.extra_css %}
  {% for css_file in page.extra_css %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ css_file }}.css" media="screen" type="text/css">
  {% endfor %}
{% endif %}

<!-- javascript -->
<script src="{{ site.baseurl }}/assets/libs/js/jquery_foundation-6.2.3-custom.min.js"></script>
<script src="{{ site.baseurl }}/assets/libs/js/foundation-6.2.3-custom.min.js"></script>
<script src="{{ site.baseurl }}/assets/libs/js/app_foundation-6.2.3-custom.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script> <!-- app -->

<script>$("li.active").parents("li").toggleClass("active");</script>

{% if layout.section %}
  <!-- style for section: {{ layout.section }} -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ layout.section }}.css" media="screen" type="text/css">
{% endif %}
 
<!-- layout|page: extra_js -->
{% if layout.extra_js %}
  {% for js_file in layout.extra_js %}
  <script src='{{ site.baseurl }}/assets/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}

{% if page.extra_js %}
  {% for js_file in page.extra_js %}
  <script src='{{ site.baseurl }}/assets/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}

</body>
</html>